/Build (GNU)/

obj/

# logs
*.log

# MacOS
._*
.DS_Store

# ROMs and BIOS
resources/roms/*
!resources/roms/.gitkeep
resources/bios/*
!resources/bios/.gitkeep

# Caches
caches/*
!caches/.gitkeep

# MISC
state.txt
.state

