/Build (GNU)/

obj/

# logs
*.log

# MacOS
._*
.DS_Store

# ROMs and BIOS
resources/roms/*
!resources/roms/.gitkeep
resources/bios/*
!resources/bios/.gitkeep
resources/caches/*
!resources/caches/.gitkeep

# Ignore caches
resources/caches/global_cache.json

# MISC
state.txt
.state

